<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Exer_02cgsss"
        tools:targetApi="31">
        <activity android:name=".RecyclerViewActivityd"
            android:exported="true"
            ></activity>

        <activity
            android:name=".Activity2d"
            android:exported="true" >
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".Activity3d"
            android:exported="true" ><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".Activity4d"
            android:exported="true" ><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".Activity5d"
            android:exported="true" ><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity
            android:name=".Activity6d"
            android:exported="true" ><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity
            android:name=".Activity7d"
            android:exported="true" ><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity
            android:name=".MainActivityd"
            android:exported="true" ><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity
            android:name=".ChatActivity"
            android:exported="true" />
        <activity
            android:name=".Bmr1Activity"
            android:exported="true" />
        <activity
            android:name=".Bmr2Activity"
            android:exported="true" />
        <activity
            android:name=".Bmr3Activity"
            android:exported="true" />
        <activity
            android:name=".DoActivity"
            android:exported="true" />
        <activity
            android:name=".ReviewListActivity"
            android:exported="false" />
        <activity android:name=".WriteReviewActivity" />
        <activity
            android:name=".ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".BodyPartActivitychu"
            android:label="Body Part Activity" />
        <activity
            android:name=".MainActivitychu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>